body {
    /* background-color: lightblue; */
    background-color: black;
    color: white;
  }
  

  .primary-background {
    overflow: hidden;
    position: relative;
  }
  
  .primary-background-img {
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
  .primary-content {
    position: relative;
  }